{% extends 'base.html' %}
{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">¡Conéctate con Nosotros!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Estamos aquí para atender todas tus necesidades en reparación, mantenimiento y limpieza de lavadoras en Bolivia. También ofrecemos una amplia gama de repuestos y accesorios. Contáctanos para consultas, programación de servicios o cualquier pregunta. Tu satisfacción es nuestra prioridad, y estamos listos para brindarte soluciones confiables y eficientes</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">¡Contáctanos!</button>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="/media/media/lavadoras.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="600" height="700" loading="lazy">
      </div>
    </div>
  </div>
{% endblock%}

