{% extends 'base.html' %}
{% block title %} {{title}} {% endblock %}

{% block content %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://5.imimg.com/data5/ANDROID/Default/2022/1/WK/NU/HY/90589000/product-jpeg-500x500.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Soluciones para su hogar</h1>
        <p class="lead">Explora nuestra tienda en línea para encontrar una amplia gama de repuestos especializados para lavadoras de marcas líderes como LG, Samsung, Daewoo, Mabe, y más. Garantiza el rendimiento duradero de tus electrodomésticos con nuestra selección de piezas de calidad. Repara con confianza, mantén tus lavadoras en su mejor forma.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/products"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Ver productos</button></a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
