{% extends 'base.html' %}
{% block title %} {{title}} {% endblock %}

{% block content %}

  <div class="container marketing">
<br />
<br />
<br />
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg src='https://svgsilh.com/svg/1752079.svg' class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><image href="/media/media/repair.png" height="120" width="140" /></svg>

        <h2>Reparacion</h2>
        <p>Restauramos tu lavadora a su máximo rendimiento. Reparación experta de marcas como LG, Samsung, Daewoo, Mabe y más. Eficiencia, rapidez y garantía para tu tranquilidad.</p>
        <p><a class="btn btn-secondary" href="https://wa.me/59164882624?text='Más información sobre la reparacion de lavadoras. Vengo de su Pagina web.'" target="_blank" >Más información &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">

        <svg src='https://svgsilh.com/svg/1752079.svg' class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><image href="/media/media/repair_tools.png" height="120" width="130" /></svg>

        <h2>Mantenimiento</h2>
        <p>Optimiza el rendimiento de tu lavadora con nuestro servicio de mantenimiento. Especialistas en cuidado preventivo para marcas como LG, Samsung, Daewoo, Mabe y más. Aseguramos durabilidad y eficiencia.</p>
        <p><a class="btn btn-secondary" href="https://wa.me/59164882624?text='Más información sobre la reparacion de lavadoras. Vengo de su Pagina web.'" target="_blank">Más información &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">

        <svg src='https://svgsilh.com/svg/1752079.svg' class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><image href="/media/media/cleaning.png" height="120" width="140" /></svg>

        <h2>Limpieza</h2>
        <p>Revive tu lavadora con nuestro servicio de limpieza especializado. Eliminamos residuos y aseguramos un funcionamiento impecable. Marcas como LG, Samsung, Daewoo, Mabe confían en nuestra excelencia</p>
        <p><a class="btn btn-secondary" href="https://wa.me/59164882624?text='Más información sobre la reparacion de lavadoras. Vengo de su Pagina web.'" target="_blank" >Más información &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">La importancia de una reparacion, mantenimiento o limpieza.</h2>
        <p class="lead">Garantiza el rendimiento óptimo y prolonga la vida útil de tu lavadora con nuestra atención especializada. La reparación oportuna previene problemas mayores, el mantenimiento regular optimiza el funcionamiento, y una limpieza profunda elimina residuos, asegurando eficiencia y durabilidad. Confía en nosotros para mantener tus electrodomésticos en su mejor estado.</p>
      </div>
      <div class="col-md-5">
        <img  src="/media/media/lavadora_ropa.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="width: 100%; height: 350px;"   focusable="false">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Limpieza de tambor. </h2>
        <p class="lead">La limpieza regular del tambor de tu lavadora es esencial para mantener un ambiente higiénico en cada ciclo de lavado. Elimina residuos, moho y malos olores, garantizando que tu ropa salga limpia y fresca. Además, ayuda a prevenir la acumulación de detergentes y suavizantes, prolongando la vida útil de tu electrodoméstico y asegurando un funcionamiento eficiente.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img  src="/media/media/man_repair.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="width: 100%; height: 350px;"   focusable="false">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Limpieza de tina.</h2>
        <p class="lead">El cuidado de la tina de tu lavadora es crucial para un lavado eficiente. Evita la acumulación de suciedad, residuos y depósitos minerales que pueden afectar la calidad de tu ropa. Nuestro servicio de limpieza de tina garantiza un funcionamiento óptimo y prolonga la vida útil de tu lavadora</p>
      </div>
      <div class="col-md-5">

        <img  src="/media/media/man_repair2.avif" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="width: 100%; height: 350px;"   focusable="false">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
{% endblock%}
